<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Room:<b><%= @booking.room.number %></b> booked from "<b><%= @booking.booking_start_time%></b>" by <b><%= @booking.user.email%></b></h3>
<br>
<br>
<br>
<h3>Happy Studying!</h3>
<h3>- Library Manager Team</h3>
</body>
</html>