<h1> USER HOME PAGE </h1>


<%= link_to "Edit profile", edit_user_path(current_user) %><br>
<%= link_to "Search and reserve rooms", edit_user_path(current_user) %><br>
<%= link_to "Current Reservation", view_current_reservation_booking_url(current_user) %><br>
<%= link_to "Booking History", view_history_booking_url(current_user) %><br>



