
<p id="notice"><%= notice %></p>

<br>
<h2>Room Results:</h2>
<div id="search_calendar"></div>

<br>
<br>
<br>
<br>
<h2>
  <%= link_to 'Book Room', new_reservation_bookings_url %><br><br><br>
</h2>


<br>