
<p id="notice"><%= notice %></p>

<br>
<h2>Room Results:</h2><legend>(Refresh this page if you don't see the room list!)</legend><br>
<div id="search_calendar"></div>

<br>
<br>
<br>
<br>
<h2>
  <%= link_to 'Book Room', new_reservation_bookings_url %><br><br><br>
</h2>


<br>